html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.title{
    position: absolute;
    left: 0;
    width: 100%;
    color: aliceblue;
    background: #00000033;
    font-size: 6vh;
    padding-top: 5px;
    text-align: center;
}

.dropdown-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px; /* Adjust padding as needed for exact positioning */
  }
  
  select {
    min-width: 120px; /* Ensure the dropdown is not too small */
  }
  